<?xml version="1.0"?>

<!--

This launch file starts the ROS wrapper for the KUKA youBot API.


If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>

	<!-- Kuka youBot drivers -->
	<include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch"/>
	
	<!-- Kinect's drivers -->
	<include file="$(find freenect_launch)/launch/freenect_throttle.launch">
		<arg name="rate" value="5"/>
	</include>

	<!-- Broadcast static tf for robot root and kinect -->
  	<node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0.28 0 0.07 0 0 0 base_link camera_link 100" />

	<!-- Laser generator -->
	<include file="$(find depthimage_to_laserscan)/launch/depth_registration_good_new.launch"/>

	<!-- Map server -->
	<node pkg="map_server" type="map_server" name="map_server" args="/home/youbot/LAUNCH/map/my_map.yaml" respawn="true"/>

	<!-- amcl -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen"/>

	<!-- Navigation: move_base -->
	<!-- DECOMMENT THIS IF YOU WANT TO USE NAVIGATION IN THE ROBOT:
	<include file="$(find move_base)/launch/move_base.launch"/>
	-->

	<!-- youbot_pickup node -->
	<!--<node pkg="youbot_pickup" type="youbot_pickup_node" name="youbot_pickup" output="screen"/> -->

</launch>

